.hero{
    min-height: 100vh;
    /* background: url(../img/) no-repeat;
    background-position: center;
    background-size: cover; */
}


.cardborderone{
border-bottom: 3px solid #ffa500 ;
}
.cardbordertwo{
border-bottom: 3px solid  #808080;
}
.cardborderthree{
border-bottom: 3px solid #008000;
}

.cardborderfour{
border-bottom: 3px solid  #ff0000;
}